#modal {
  display: none;
  position: absolute;
  position: absolute; /** bodyにたいして相対的になる */
  top: 0;
  left: 0;

  width: 80px;
  height: 80px;
  background: #fff;
  z-index: 10;
}

#modal-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute; /** bodyにたいして相対的になる */
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}
